body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    background: linear-gradient(to right, rgba(0, 255, 200, 0.477), rgba(102, 0, 0, 0.477)), 
                url('360_F_355206259_S6Jnv1soMYb3pF3snNsXttKOTCHbcBDu.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.converter {
    background: #000000ca;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 75px rgb(255, 255, 255);
    width:350px;
    text-align: center;
}

h1 {
    font-weight: 800;
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 50px;
    margin-bottom: 75px;
    color: rgb(0, 247, 255);
    transition: 0.5s;
    transition: color 0.5s ease;
    

}

h1:hover {
    color: #db4f4f;
    transform:scale(0.9);
    cursor: pointer;
}

label, Amount {
    font-size: 25px;
}

.form-group {
    margin-bottom: 10px;
}

label {
    display : block;
    margin-bottom: 5px;
    background-color: #76796b;
    color:  rgb(0, 229, 255);
    font-family: "Poppins", sans-serif;
   font-weight: 500;
   font-style: italic;
}

input, select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 18px; /* Increase font size */
}
.output {
    color: rgba(0, 255, 251, 0.941);
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-style: italic;
}

button {
    border-radius: 300px;
    padding: 15px 30px; /* Increase padding for larger size */
    font-size: 20px; /* Increase font size */
    font-style: italic;
    font-weight: 500;
}
button:hover {
    background-color: #002a27eb; /* Change to a darker shade */
    color: #00ffea; /* Change text color */
    cursor: pointer; /* Change cursor to pointer */
    box-shadow: 0 0 35px rgb(0, 251, 255); /* Add a glow effect */
    font-style: italic;
}